mixin loginForm()
  form.form(action="/login" method="post")
      label(for="email") User Email
      input(type="email" name="email")
      label(for="password") Password
      input(type="password" name="password")
      input.button(type="submit" value="Login")
